@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body{
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	overflow:hidden;
}
h1 {
	text-align: center;
	font-family: Kanit, sans-serif;
	font-size: 5em;
	text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);

	
}
h2{
text-align: center;
	font-family: Kanit, sans-serif;
	font-size: 2.5em;
	text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);

}
.start-menu{
	position: absolute;
	z-index: 999;
	display: flex;
	justify-items: center;
	justify-content: center;
	flex-direction: column;
width: 100%;

}
.start-menu > button{
width: 50%;
height: 50px;
font-family: Kanit, sans-serif;
font-size: 2em;
font-weight: 800;
border-radius: 12px;
left: 25%;
position: relative;
background-color: whitesmoke;
border:3px solid black;
}
.start-menu > button:hover{
	background-color: lightgray;
		border-color: gray;
		transition: 0.5s all ease-out;
}
.line-container {
	z-index: 0;
}

.line {
	width: 100%;
	background-color: lightgray;
	height: 5px;
	margin-bottom: 25px;
	position: static;
}
.color-container {
  display: flex;
  flex-direction: column;
  z-index: 999;
  position: relative;
  bottom: 0;
  text-align: center;
  width: 30%;
  margin: 0;
  float: left;
}
label{
	font-family: Kanit, sans-serif;
}
.coloress{
	border-radius: 12px;
	padding: 10px;
}
.draw{
	height: 75%;
	background-color: white;
	width: 50%;
	position: absolute;
	float: right;
	z-index: 99999;
	right: 15%;
	  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);

}